# Python (./Backend)
Backend/.venv/
Backend/__pycache__/
Backend/tests/__pycache__/
Backend/.pytest_cache/
Backend/.env
Backend/seed_db.py
Backend/SEED_DB_README.md
# Node.js (./Frontend)
Frontend/node_modules/
Frontend/dist/
Frontend/.env
